<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>预警中心</title>
  <style>
    html,
    body,
    #container {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    #DivButton {
      margin-top: 5px;
      margin-right: 5px;
    }

    #DivButton button {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="yjzx/css/homepage.css">
</head>
<body>
<div id="container" class="container">
  <div class="title"></div>
  <!--预警top3-->
  <div id="top3" class="top3">
    <!--拥挤预警-->
    <div class="yongji">
      <div class="head">
        <p class="head-p">
          <img src="yjzx/img/icon_1.png" alt="">
          <span>拥挤预警</span>
        </p>
        <p>
          <span class="yj-num"></span>
        </p>
      </div>

      <ul class="list" id="yongji">
      </ul>

    </div>

    <!--适中-->
    <div class="shizhong">
      <div class="head">
        <p class="head-p">
          <img src="yjzx/img/icon_2.png" alt="">
          <span>适中状态</span>
        </p>
        <p>
          <span class="yj-num"></span>
        </p>
      </div>

      <ul class="list" id="shizhong">


      </ul>

    </div>

    <!--舒适-->
    <div class="shushi">
      <div class="head">
        <p class="head-p">
          <img src="yjzx/img/icon_3.png" alt="">
          <span>舒适状态</span>
        </p>
        <p>
          <span class="yj-num"></span>
        </p>
      </div>

      <ul class="list" id="shushi">


      </ul>

    </div>

  </div>
  <!--高速路网-->
  <div id="road-net" class="road-net">
    <header>
      <div>排名</div>
      <div>道路名称</div>
      <div>拥堵延时指数</div>
      <div>速度(km/h)</div>
      <div>旅行时间(min)</div>
      <div>延迟时间(min)</div>
    </header>
    <ul>
      <li>
        <div>1</div>
        <div>道路名称</div>
        <div>
          <span>6.9</span>
        </div>
        <div>10.4</div>
        <div>100.2</div>
        <div>100.2</div>
      </li>

    </ul>
  </div>
  <div id="road-net-tips" class="road-net-tips">
    <ul>
      <li>严重拥堵</li>
      <li>拥堵</li>
      <li>缓行</li>
      <li>畅通</li>
    </ul>
  </div>
  <!--tab切换-->
  <div id="tab" class="tab">
    <div class="tab-box tab-box-active" data-name="客运站,铁路,机场,港口">
      <span>交通枢纽</span>
    </div>
    <div class="tab-box" data-name="服务区">
      <span>服务区</span>
    </div>
    <div class="tab-box" data-name="收费站">
      <span>收费站</span>
    </div>
    <div class="tab-box" data-name="高速">
      <span>高速路段</span>
    </div>
    <div class="tab-box" data-name="高速路网">
      <span>高速路网</span>
    </div>

    <!--当前位置-->
    <div class="tab-box-cur dn" id="tab-box-cur">
      <div class="bg-div">
        <div>
          <img src="yjzx/img/menu/icon_lower_left.png" alt="">
        </div>
        <div id="center-img" class="center-img">
          <img src="yjzx/img/menu/icon_lower_center.png" alt="">
          <img src="yjzx/img/menu/icon_lower_center.png" alt="">
          <!--<img src="yjzx/img/menu/icon_lower_center.png" alt="">-->
        </div>
        <div class="arrow up">
          <img class="up-img" src="yjzx/img/menu/icon_lower_right_on.png" alt="">
          <div id="cur-pos-data-box" class="cur-pos-data-box">
            <!--重点枢纽-->
            <div class="key-pos">
              <div class="name">重点枢纽：</div>
              <ul>
                <li>广州南</li>
                <li>广州南</li>
              </ul>

            </div>
            <!--搜索框-->
            <div class="search">
              <input type="search" placeholder="搜索">
              <i class="icon"></i>
            </div>

            <!--场站-->
            <div class="station-box">
              <div class="station-box-1" id="station-box-1">
                <header>
                  火车站
                </header>
                <ul>

                </ul>
              </div>
              <div class="station-box-2" id="station-box-2">
                <header>
                  客运站
                </header>
                <ul>

                </ul>
              </div>
              <div class="station-box-3" id="station-box-3">
                <header>
                  机场、港口
                </header>
                <ul></ul>

              </div>
            </div>
          </div>

        </div>
        <div class="dn arrow down">
          <img class="" src="yjzx/img/menu/icon_lower_right_nor.png" alt="">

        </div>
      </div>
      <div class="tab-name" id="tab-name">广州南站</div>
    </div>
  </div>

  <!--交通枢纽tab-->
  <ul id="tab2" class="tab-box2 vh">
    <li data-name="实时监控" class="tab-box2-li1 tab-box2-li">
      <div class="li-tab-box">
        <div class="video-play-box">
          <div class="add-box"></div>
          <div class="full-screen"></div>
        </div>
        <div class="video-list" id="video-list">
          <ul>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
          </ul>
        </div>
        <div class="line-box">
          <div class="line" id="line">
            <div class="tuodong" id="tuodong"></div>
          </div>
        </div>
        <div class="emp-box">
          <div class="touxiang">

          </div>
          <div class="emp-data-box">
            <p>
              <label for="">值班人:</label>
              <span></span>
            </p>
            <p>
              <label for="">预警电话:</label>
              <span></span>
            </p>
          </div>
          <div class="icon"></div>
        </div>

        <div class="video-play-box2">
          <div class="box2-main">
            <span>请选择摄像头</span>
          </div>
          <div class="video-list">
            <ul>
              <li>
                <div class="footer"></div>
              </li>
              <li>
                <div class="footer"></div>
              </li>
            </ul>
          </div>
          <div class="line-box">
            <div class="line">
              <div class="tuodong"></div>
            </div>
          </div>
          <div class="close-icon"></div>
        </div>
      </div>
    </li>
    <li data-name="实时客流" class="tab-box2-li2 tab-box2-li">
      <div class="li-tab-box">
        <header>
          <label>实时客流量</label>
          <span class="sskl-num"></span>
          <i>人</i>
        </header>
        <div class="header2">
          <div>
            <p class="title-name">实时进入人数</p>
            <p>
              <label class="sskl-in"></label>万
            </p>
          </div>
          <div>
            <p class="title-name">实时离开人数</p>
            <p>
              <label class="sskl-out"></label>万
            </p>
          </div>
          <div>
            <p class="title-name">小时新增人数</p>
            <p>
              <label class="sskl-hour-add"></label>万
            </p>
          </div>
        </div>
        <div class="chart-box">
          <!--<div class="header">-->
            <!--<label for="">实时客流趋势</label>-->
          <!--</div>-->
          <div class="SSKL-cld-box" id="SSKL-cld-box">
            <input type="text" id="tab2-li2-cld" class="tab-li2-cld">
            <div class="arrow"></div>
          </div>
          <div id="SSKL" class="SSKL">

          </div>
        </div>
        <div class="chart-box2">
          <div class="ZLSC1" id="ZLSC1"></div>
          <!--<div class="header">-->

          <!--<div class="KLHX-box">-->
            <!--<div class="hm man">-->
              <!--<span>12%</span>-->
            <!--</div>-->
            <!--<div class="hm woman">-->
              <!--<span>12%</span>-->
            <!--</div>-->
            <!--<div class="KLHX" id="KLHX">-->

            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </li>
    <li data-name="旅客洞察" class="tab-box2-li4 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div style="width: 280px;height: 40px;background-color: #114d8a;position: relative;">
              <div class="cld-icon"></div>
              <input type="text" class="tab-li4-cld" id="tab2-li4-cld">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <div class="scroll-box">
          <header>
            <div>
              <p class="title-name">总旅客量</p>
              <p>
                <label class="total-psg"></label>万
              </p>
            </div>
            <div>
              <p class="title-name">到达旅客量</p>
              <p>
                <label class="arrival-psg"></label>万
              </p>
            </div>
            <div>
              <p class="title-name">出发旅客量</p>
              <p>
                <label class="leave-psg"></label>万
              </p>
            </div>

          </header>
          <div class="chart-box1 ZLSC" id="ZLSC">

          </div>

          <div class="KLHX-box">
            <div class="hm man">
              <span></span>
            </div>
            <div class="hm woman">
              <span></span>
            </div>
            <div class="KLHX" id="KLHX">

            </div>
          </div>

          <div class="chart-box2">
            <div class="chart1 laiyuan" id="laiyuan"></div>
            <div class="chart2 quxiang" id="quxiang"></div>
          </div>

          <div class="data-box">
            <div class="header">
              <div class="container">
                <div class="dongcha-tab active">
                  省外
                </div>
                <div class="dongcha-tab">
                  省内
                </div>
                <div class="dongcha-tab">
                  境外
                </div>
              </div>

            </div>
            <div class="container2-1">
              <div class="from-chart">
                <div class="header">
                  来源Top5
                </div>
                <ul class="body">
                  <!--<li>-->
                    <!--<i class="index">1</i>-->
                    <!--<label>美国</label>-->
                    <!--<i class="line"></i>-->
                    <!--<span class="num">234人</span>-->
                  <!--</li>-->
                </ul>
              </div>
              <div class="to-chart">
                <div class="header">
                  去向Top5
                </div>
                <ul class="body">
                  <!--<li>-->
                    <!--<i class="index">1</i>-->
                    <!--<label>美国</label>-->
                    <!--<i class="line"></i>-->
                    <!--<span class="num">234人</span>-->
                  <!--</li>-->
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </li>
    <li data-name="旅客趋势" class="tab-box2-li3 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div class="cld-icon"></div>
            <input type="text" id="tab2-li3-cld" class="tab-li3-cld">
            <div class="arrow"></div>
          </div>
        </div>
        <div class="chart-box KLQS" id="KLQS">

        </div>
        <div class="chart-box LKQS" id="LKQS">

        </div>
      </div>
    </li>
  </ul>
  <!--服务区tab-->
  <ul id="tab3" class="tab-box3 vh">
    <li data-name="实时监控" class="tab-box2-li1 tab-box2-li">
      <div class="li-tab-box">
        <div class="video-play-box">
          <div class="add-box"></div>
          <div class="full-screen"></div>
        </div>
        <div class="video-list" id="video-list2">
          <ul>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
          </ul>
        </div>
        <div class="line-box">
          <div class="line" id="line2">
            <div class="tuodong" id="tuodong2"></div>
          </div>
        </div>
        <div class="emp-box">
          <div class="touxiang">

          </div>
          <div class="emp-data-box">
            <p>
              <label for="">值班人:</label>
              <span></span>
            </p>
            <p>
              <label for="">预警电话:</label>
              <span></span>
            </p>
          </div>
          <div class="icon"></div>
        </div>

        <div class="video-play-box2">
          <div class="box2-main">
            <span>请选择摄像头</span>
          </div>
          <div class="video-list">
            <ul>
              <li>
                <div class="footer"></div>
              </li>
              <li>
                <div class="footer"></div>
              </li>
            </ul>
          </div>
          <div class="line-box">
            <div class="line">
              <div class="tuodong"></div>
            </div>
          </div>
          <div class="close-icon"></div>
        </div>
      </div>

    </li>
    <li data-name="实时客流" class="tab-box2-li2 tab-box2-li">
      <div class="li-tab-box">
        <div class="header1">
          <label>实时客流量</label>
          <span>23,450<i>人</i></span>
        </div>
        <header>
          <div>
            <label for="">实时客流量</label>
            <p>
              <i>20.3</i>万
            </p>

          </div>
          <div>
            <label for="">实时进入车辆</label>
            <p>
              <i>20.3</i>万
            </p>
          </div>
          <div>
            <label for="">实时离开车辆</label>
            <p>
              <i>20.3</i>万
            </p>
          </div>

        </header>
        <div style="position: relative;">
          <div class="calendar-box">
            <input type="text" id="sskl-cld2" class="sskl-cld2">
            <div class="arrow"></div>
          </div>
          <div class="chart2" id="tab3li2-chart2"></div>
        </div>
        <div class="chart1" id="tab3li2-chart1">
        </div>

        <!--<div class="KLHX-box">-->
          <!--<div class="KLHX" id="KLHX2">-->
          <!--</div>-->
          <!--<div class="hm man">-->
            <!--<span>12%</span>-->
          <!--</div>-->
          <!--<div class="hm woman">-->
            <!--<span>12%</span>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </li>
    <li data-name="旅客洞察" class="tab-box2-li4 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div style="width: 280px;height: 40px;background-color: #114d8a;position: relative;">
              <div class="cld-icon"></div>
              <input type="text" class="tab-li4-cld" id="tab-li4-cld2">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <!--<header>-->
          <!--<div>-->
            <!--<label for="">实时客流量</label>-->
            <!--<p>-->
              <!--<i>20.3</i>万-->
            <!--</p>-->

          <!--</div>-->
          <!--<div>-->
            <!--<label for="">实时进入车辆</label>-->
            <!--<p>-->
              <!--<i>20.3</i>万-->
            <!--</p>-->
          <!--</div>-->
          <!--<div>-->
            <!--<label for="">实时离开车辆</label>-->
            <!--<p>-->
              <!--<i>20.3</i>万-->
            <!--</p>-->
          <!--</div>-->

        <!--</header>-->
        <div class="scroll-box">
          <div class="chart1" id="tab3li3-chart1">
          </div>
          <div class="KLHX-box">
            <div class="KLHX" id="KLHX2">
            </div>
            <div class="hm man">
              <span>12%</span>
            </div>
            <div class="hm woman">
              <span>12%</span>
            </div>
          </div>
          <div class="guishufenxi" id="guishufenxi">

          </div>
          <div class="data-box">
            <div class="header">
              <div class="container">
                <div class="dongcha-tab">
                  归属国家Top5
                </div>
                <div class="dongcha-tab">
                  归属省份Top5
                </div>
                <div class="dongcha-tab">
                  归属省内城市Top5
                </div>
              </div>

            </div>
            <div class="container2-1">
              <div class="from-chart">

                <ul class="body">
                  <li>
                    <i class="index">1</i>
                    <label>美国</label>
                    <i class="line2"></i>
                    <span class="num">234人</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>

        <!--<div class="chart2" id="tab3li3-chart2"></div>-->
      </div>
    </li>
    <li data-name="旅客趋势" class="tab-box2-li3 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div class="cld-icon"></div>
            <input type="text" id="tab3-li3-cld2" class="tab-li3-cld">
            <div class="arrow"></div>
          </div>
        </div>
        <div class="chart1" id="tab3li4-chart1"></div>
        <!--<div class="chart2" id="tab3li4-chart2"></div>-->
      </div>
    </li>
  </ul>
  <!--收费站tab-->
  <ul id="tab4" class="tab-box4 vh">
    <li data-name="实时监控" class="tab-box2-li1 tab-box2-li">
      <div class="li-tab-box">
        <div class="video-play-box">
          <div class="add-box"></div>
          <div class="full-screen"></div>
        </div>
        <div class="video-list" id="video-list3">
          <ul>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
          </ul>
        </div>
        <div class="line-box">
          <div class="line" id="line3">
            <div class="tuodong" id="tuodong3"></div>
          </div>
        </div>
        <div class="emp-box">
          <div class="touxiang">

          </div>
          <div class="emp-data-box">
            <p>
              <label for="">值班人:</label>
              <span></span>
            </p>
            <p>
              <label for="">预警电话:</label>
              <span></span>
            </p>
          </div>
          <div class="icon"></div>
        </div>

        <div class="video-play-box2">
          <div class="box2-main">
            <span>请选择摄像头</span>
          </div>
          <div class="video-list">
            <ul>
              <li>
                <div class="footer"></div>
              </li>
              <li>
                <div class="footer"></div>
              </li>
            </ul>
          </div>
          <div class="line-box">
            <div class="line">
              <div class="tuodong"></div>
            </div>
          </div>
          <div class="close-icon"></div>
        </div>
      </div>

    </li>
    <li data-name="实时客流" class="tab-box2-li2 tab-box2-li">
      <div class="li-tab-box">
        <div class="header2">
          <div>
            <p class="title-name">实时客流量</p>
            <p>
              <label>23445</label>万
            </p>
          </div>
          <div>
            <p class="title-name">实时进入车辆</p>
            <p>
              <label>23445</label>万
            </p>
          </div>
          <div>
            <p class="title-name">实时离开车辆</p>
            <p>
              <label>23445</label>万
            </p>
          </div>
        </div>
        <div class="tab4-zlsc" id="tab4-zlsc"></div>
        <div class="tab4-klqs-box">
          <div class="calendar-box">
            <input type="text" id="tab4-klqs-cld2" class="sskl-cld2">
            <div class="arrow"></div>
          </div>
          <div class="tab4-klqs" id="tab4-klqs"></div>
        </div>
        <div class="tab4-klhx-box">
          <div class="hm man">
            <span>12%</span>
          </div>
          <div class="hm woman">
            <span>12%</span>
          </div>
          <div class="tab4-klhx" id="tab4-klhx"></div>
        </div>
      </div>

    </li>
    <li data-name="旅客洞察" class="tab-box2-li4 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div style="width: 280px;height: 40px;background-color: #114d8a;position: relative;">
              <div class="cld-icon"></div>
              <input type="text" class="m-cld" id="tab4-m-cld">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <header>
          <div>
            <p class="title-name">全天客流量</p>
            <p>
              <label for="">23445</label>万
            </p>
          </div>
          <div>
            <p class="title-name">全天进入车辆</p>
            <p>
              <label for="">23445</label>万
            </p>
          </div>
          <div>
            <p class="title-name">全天离开车辆</p>
            <p>
              <label for="">23445</label>万
            </p>
          </div>

        </header>
        <div class="tab4-zlsc" id="tab4-zlsc-day"></div>
        <div class="tab4-zlsc2" id="tab4-zlsc2"></div>
      </div>

    </li>
    <li data-name="旅客趋势" class="tab-box2-li3 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div class="cld-icon"></div>
            <input type="text" id="tab4-big-cld" class="tab4-big-cld">
            <div class="arrow"></div>
          </div>
        </div>
        <div class="chart-box" id="tab4-zklqs">

        </div>
        <div class="chart-box" id="tab4-clqs">

        </div>
      </div>
    </li>
  </ul>
  <!--高速路段-->
  <ul id="tab5" class="tab-box5 vh">
    <li data-name="实时监控" class="tab-box2-li1 tab-box2-li">
      <div class="li-tab-box">
        <div class="video-play-box">
          <div class="add-box"></div>
          <div class="full-screen"></div>
        </div>
        <div class="video-list" id="video-list4">
          <ul>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
            <li>
              <div class="footer"></div>
            </li>
          </ul>
        </div>
        <div class="line-box">
          <div class="line" id="line3">
            <div class="tuodong" id="tuodong3"></div>
          </div>
        </div>
        <div class="emp-box">
          <div class="touxiang">

          </div>
          <div class="emp-data-box">
            <p>
              <label for="">值班人:</label>
              <span></span>
            </p>
            <p>
              <label for="">预警电话:</label>
              <span></span>
            </p>
          </div>
          <div class="icon"></div>
        </div>

        <div class="video-play-box2">
          <div class="box2-main">
            <span>请选择摄像头</span>
          </div>
          <div class="video-list">
            <ul>
              <li>
                <div class="footer"></div>
              </li>
              <li>
                <div class="footer"></div>
              </li>
            </ul>
          </div>
          <div class="line-box">
            <div class="line">
              <div class="tuodong"></div>
            </div>
          </div>
          <div class="close-icon"></div>
        </div>
      </div>

    </li>
    <li data-name="实时客流" class="tab-box2-li2 tab-box2-li">
      <div class="li-tab-box">
        <div class="header2">
          <div>
            <p class="title-name">实时客流量</p>
            <p>
              <label>23445</label>万
            </p>
          </div>
          <div>
            <p class="title-name">实时进入车辆</p>
            <p>
              <label>23445</label>万
            </p>
          </div>
          <div>
            <p class="title-name">实时离开车辆</p>
            <p>
              <label>23445</label>万
            </p>
          </div>
        </div>
        <div class="chart-box">
          <div class="tab5-klqs" id="tab5-klqs"></div>
          <div class="calendar-box">
            <input type="text" id="tab5-klqs-cld" class="sskl-cld2">
            <div class="arrow"></div>
          </div>
        </div>
        <div class="chart-box">
          <div class="tab5-yxsd" id="tab5-yxsd"></div>
          <div class="calendar-box">
            <input type="text" id="tab5-klqs-cld2" class="sskl-cld2">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </li>
    <li data-name="旅客趋势" class="tab-box2-li3 tab-box2-li">
      <div class="li-tab-box">
        <div class="calendar-box">
          <div class="calendar">
            <div class="cld-icon"></div>
            <input type="text" id="tab5-big-cld" class="tab5-big-cld">
            <div class="arrow"></div>
          </div>
        </div>
        <div class="chart-box" id="tab5-klqs-week">

        </div>
        <div class="chart-box" id="tab5-clqs-week">

        </div>
        <div class="chart-box" id="tab5-clfb-week">

        </div>
      </div>
    </li>
  </ul>
  <!--鹰眼-->
  <div id="container2" class="container container2" style="width: 386px;height: 300px;">
      <div style="width: 200px;height: 100px;" class="yingyan" id="yingyan"></div>
  </div>

</div>

<div id="DivButton" style="position:fixed;top:0px;right:0px;">

</div>


<script src="lib/jquery-1.8.2.min.js"></script>
<script src="lib/layer/layer.js"></script>
<script src="lib/laydate.js"></script>
<script src="lib/echarts3.js"></script>
<script src='https://webapi.amap.com/maps?v=1.4.11&key=e78eb14a0b3399d1733b27fb6835e460'></script>
<script src="https://webapi.amap.com/loca?v=1.2.0&key=e78eb14a0b3399d1733b27fb6835e460"></script>
<!--<script src="https://a.amap.com/jsapi_demos/static/citys.js"></script>-->
<!-- UI组件库 1.0 -->
<script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<!--热力图-->
<!--<script src="guangdong.js"></script>-->
<!--<script src="https://a.amap.com/Loca/static/mock/heatmapData.js"></script>-->
<script
  src="https://webapi.amap.com/ui/1.0/ui/geo/DistrictExplorer.js?v=1.0.11&mt=ui&key=e78eb14a0b3399d1733b27fb6835e460"></script>
<script src="yjzx/js/map.js"></script>

<script type="text/javascript">
//  标注城市
  var theCitys = {
    "广州市": "113.264385,23.129112",
    "深圳市": "114.085947,22.547",
    "珠海市": "113.553986,22.224979",
    "汕头市": "116.708463,23.37102",
    "佛山市": "113.122717,23.028762",
    "韶关市": "113.597313,24.811094",
    "河源市": "114.697802,23.746266",
    "梅州市": "116.117582,24.299112",
    "惠州市": "114.412599,23.079404",
    "汕尾市": "115.364238,22.774485",
    "东莞市": "113.746262,23.046237",
    "中山市": "113.382391,22.521113",
    "江门市": "113.094942,22.590431",
    "阳江市": "111.982697,21.857415",
    "湛江市": "110.364977,21.274898",
    "茂名市": "110.919229,21.659751",
    "肇庆市": "112.472529,23.051546",
    "清远市": "113.051227,23.685022",
    "潮州市": "116.632301,23.661701",
    "揭阳市": "116.355733,23.543778",
    "云浮市": "112.044439,22.929801"
  };
  for (var theCityName in theCitys) {
    var thelngLat = theCitys[theCityName];
    var thelngLats = thelngLat.split(',');
    var marker = new AMap.Marker({
      position: new AMap.LngLat(parseFloat(thelngLats[0]), parseFloat(thelngLats[1])),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
      title: theCityName,
      content: '<div style="color:white;width: 3em;font-size:20px;font-weight:bold">' + theCityName + '</div>'
    });
    theMap.add(marker);
  }


  var thePoints = {
//    "广州南站": {"latitude": 22.9874720000, "longitude": 113.2685860000, "type": "铁路", 'icon': 'tielu3.png'},
    // "深圳火车站": { "latitude": 22.5319900000, "longitude": 114.1176800000 },
//    "深圳北站": {"latitude": 22.6097250000, "longitude": 114.0291130000, "type": "铁路", 'icon': 'tielu3.png'},
    //"广州东站": { "latitude": 23.1505660000, "longitude": 113.3249000000 },
    //"广州火车站": { "latitude": 23.1494150000, "longitude": 113.2572910000 },
    //"广州北站": { "latitude": 23.3774050000, "longitude": 113.2037940000 },
    //"深圳西站": { "latitude": 22.5275730000, "longitude": 113.9073060000 },
    //"深圳东站": { "latitude": 22.6019860000, "longitude": 114.1199340000 },
//    "珠海站": {"latitude": 22.2153960000, "longitude": 113.5496410000, "type": "铁路", 'icon': 'tielu3.png'},
    //"白云国际机场": { "latitude": 23.3896270000, "longitude": 113.3076480000 },
//    "白云国际机场": {"latitude": 23.396544, "longitude": 113.306199, "type": "民航", 'maxLevel': 17, 'icon': 'feiji3.png'},
    //"宝安国际机场": { "latitude": 22.6333600000, "longitude": 113.8145490000 },
//    "宝安国际机场": {"latitude": 22.62506, "longitude": 113.812809, "type": "民航", 'icon': 'feiji3.png'},
    //"珠海金湾国际机场": { "latitude": 22.0057560000, "longitude": 113.3819450000 },
    //"揭阳潮汕国际机场": { "latitude": 23.5463610000, "longitude": 116.5092740000 }
  };

  for (var theCityName in thePoints) {
    var thelngLat = thePoints[theCityName];
//    debugger;
    var marker = new AMap.Marker({
      position: new AMap.LngLat(thelngLat.longitude, thelngLat.latitude),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
      title: theCityName,
      content: '<div style="color:white;width: 3em;font-size:14px">' + theCityName + '</div>'
    });
    theMap.add(marker);
  }
</script>
<script src="yjzx/js/data.js"></script>
<!--<script src="yjzx/js/tuodong.js"></script>-->
<script src="lib/underscore-min.js"></script>
<script src="yjzx/js/ajax.js"></script>
<script src="yjzx/js/homepage.js"></script>
</body>
</html>
