<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录</title>
  <link rel="stylesheet" href="login/css/login.css">
</head>
<body>
  <div class="title">广东省春运交通大数据预测分析平台</div>
  <div class="login-box">
    <div class="tips">
      请输入密码
    </div>
    <form action="" method="post">
      <div class="input-box">
        <div class="icon1"></div>
        <input type="text" name="name" placeholder="请输入账号" autocomplete="off">
      </div>
      <div class="input-box" style="margin-top: 20px;">
        <div class="icon2"></div>
        <input type="password" name="password" placeholder="请输入密码">
      </div>
      <div class="sel-box">
        <div class="font">
          登录到:
        </div>
        <div class="sbox">
          <div class="c1">
            <input name="p" type="radio" id="fx">
            <label for="fx">分析中心</label>
            <!--<span>分析中心</span>-->
          </div>
          <div class="">
            <input name="p" type="radio" id="yj">
            <label for="yj">预警中心</label>
            <!--<span>预警中心</span>-->
          </div>
        </div>
      </div>
      <div class="btn-box">
        <input type="submit" value="登录">
      </div>
    </form>
  </div>
</body>
</html>