@charset "UTF-8";
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }
  body:hover, div:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

html, body {
  height: 1080px;
  width: 1920px; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@-webkit-keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.animation_opactiy {
  -webkit-animation: backOpacity 2s ease-in-out infinite;
          animation: backOpacity 2s ease-in-out infinite; }

html, body {
  height: 1080px;
  width: 1920px;
  position: relative; }

@font-face {
  font-family: SketchRockwell; }

.vh {
  visibility: hidden !important; }

.db {
  display: block !important; }

.container2 {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 5px -5px 5px rgba(0, 0, 0, 0.2), -5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 5px -5px 5px rgba(0, 0, 0, 0.2), -5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(0, 0, 0, 0.2); }

.title {
  width: 700px;
  height: 160px;
  background: url("../img/tittle.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer; }

.road-net {
  height: 97px;
  width: 1222px;
  position: absolute;
  top: 20px;
  right: 65px;
  z-index: 9;
  padding: 0 17px 0 45px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(25, 54, 105, 0.9);
  display: none; }
  .road-net header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #79d8ff; }
    .road-net header div {
      text-align: center;
      height: 30px;
      line-height: 30px; }
    .road-net header div:nth-child(1) {
      width: 50px; }
    .road-net header div:nth-child(2) {
      width: 460px; }
    .road-net header div:nth-child(3) {
      width: 200px; }
    .road-net header div:nth-child(4) {
      width: 140px; }
    .road-net header div:nth-child(5) {
      width: 150px; }
    .road-net header div:nth-child(6) {
      width: 160px; }
  .road-net li {
    border-bottom: 1px solid #335c8d;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .road-net li div {
      text-align: center;
      height: 30px;
      line-height: 30px; }
    .road-net li div:nth-child(1) {
      width: 50px; }
    .road-net li div:nth-child(2) {
      width: 460px; }
    .road-net li div:nth-child(3) {
      width: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .road-net li div:nth-child(3) span {
        width: 70px;
        height: 20px;
        border-radius: 10px;
        background-color: red;
        line-height: 20px; }
    .road-net li div:nth-child(4) {
      width: 140px; }
    .road-net li div:nth-child(5) {
      width: 150px; }
    .road-net li div:nth-child(6) {
      width: 160px; }

.road-net-tips {
  width: 386px;
  height: 33px;
  padding: 3px;
  position: absolute;
  right: 54px;
  bottom: 355px;
  z-index: 99;
  color: #ffffff;
  background-color: #fff;
  display: none; }
  .road-net-tips ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .road-net-tips li {
    width: 95px;
    height: 27px;
    text-align: center;
    line-height: 27px; }
  .road-net-tips li:nth-child(1) {
    background-color: #821e16; }
  .road-net-tips li:nth-child(2) {
    background-color: #cd2b1e; }
  .road-net-tips li:nth-child(3) {
    background-color: #f7be45; }
  .road-net-tips li:nth-child(4) {
    background-color: #5cad32; }

.top3 {
  height: 97px;
  position: absolute;
  top: 20px;
  right: 65px;
  z-index: 9; }
  .top3 .p-name {
    width: 132px; }
  .top3 .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
    cursor: pointer; }
    .top3 .list li * {
      cursor: pointer; }
    .top3 .list li p {
      font-weight: bold;
      font-size: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .top3 .list li span {
      font-weight: normal;
      width: 179px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .top3 .list li .num {
      font-weight: bold; }
  .top3 .yongji {
    float: left;
    width: 430px;
    height: 97px;
    background-color: rgba(234, 72, 130, 0.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    padding: 0 20px 0 55px;
    color: #ffffff;
    margin-right: 2px; }
    .top3 .yongji .head {
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 5px; }
      .top3 .yongji .head .head-p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .top3 .yongji .head .head-p img {
          margin-right: 10px; }
        .top3 .yongji .head .head-p span {
          font-weight: bold; }
  .top3 .yongji:hover {
    height: 200px; }
  .top3 .shizhong:hover {
    height: 200px; }
  .top3 .shushi:hover {
    height: 200px; }
  .top3 .shizhong {
    margin-right: 2px; }
  .top3 .shizhong, .top3 .shushi {
    width: 394px;
    height: 97px;
    -webkit-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    color: #ffffff;
    padding: 0 20px;
    float: left; }
    .top3 .shizhong .head, .top3 .shushi .head {
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 5px; }
      .top3 .shizhong .head .head-p, .top3 .shushi .head .head-p {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .top3 .shizhong .head .head-p img, .top3 .shushi .head .head-p img {
          margin-right: 10px; }
        .top3 .shizhong .head .head-p span, .top3 .shushi .head .head-p span {
          font-weight: bold; }
  .top3 .shizhong {
    background-color: rgba(232, 175, 53, 0.8); }
  .top3 .shushi {
    background-color: rgba(39, 214, 211, 0.8); }

.tab {
  position: absolute;
  z-index: 11;
  top: 260px;
  left: 20px; }
  .tab .tab-box-cur {
    height: 102px;
    position: absolute;
    top: -102px;
    left: 190px;
    cursor: pointer; }
    .tab .tab-box-cur .bg-div {
      height: 100%;
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .tab .tab-box-cur .bg-div > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative; }
    .tab .tab-box-cur .bg-div > div > img {
      position: relative;
      z-index: 11; }
    .tab .tab-box-cur .up-img {
      position: relative;
      z-index: 11; }
    .tab .tab-box-cur .tab-name {
      width: 70%;
      white-space: nowrap;
      font-size: 24px;
      color: #68e4ff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 11; }
  .tab .tab-box:nth-child(1) {
    top: 0; }
  .tab .tab-box:nth-child(2) {
    top: 102px; }
  .tab .tab-box:nth-child(3) {
    top: 204px; }
  .tab .tab-box:nth-child(4) {
    top: 306px; }
  .tab .tab-box:nth-child(5) {
    top: 408px; }

.tab-box {
  width: 225px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  background: url("../img/icon_left_nor.png") no-repeat; }
  .tab-box span {
    color: #ffffff;
    font-size: 24px; }

.tab-box-active {
  background: url("../img/icon_left_on.png") no-repeat; }

.top3-icon1 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ea4882;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
  margin-right: 10px; }

.top3-icon2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fa8140;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
  margin-right: 10px; }

.top3-icon3 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #27d6d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
  margin-right: 10px; }

#container2 {
  position: absolute;
  right: 54px;
  bottom: 35px;
  z-index: 99;
  -webkit-transition: all .1s;
  transition: all .1s; }

.yingyan {
  z-index: 99;
  border: 1px solid red;
  pointer-events: none;
  position: absolute;
  top: 100px;
  left: 100px; }

.point1 {
  width: 50px;
  height: 50px;
  background: url(../img/point1.png);
  background-position: center;
  /* background-size: 100% 100%; */
  -webkit-animation: run2 1s steps(15, end) infinite;
          animation: run2 1s steps(15, end) infinite;
  color: #ea4882;
  font-size: 14px; }
  .point1 i {
    position: absolute;
    top: 15px;
    left: 70%;
    width: 250px; }

.point3 {
  width: 18px;
  height: 18px;
  position: relative; }
  .point3 i {
    position: absolute;
    top: 0px;
    right: 110%;
    width: 250px;
    font-size: 12px;
    text-align: right; }

.point2 {
  width: 18px;
  height: 18px;
  position: relative; }
  .point2 i {
    position: absolute;
    top: 0px;
    left: 110%;
    width: 250px;
    font-size: 12px; }

.point2 {
  background: url(../img/point2.png) no-repeat;
  background-position: center;
  background-size: contain;
  color: #fa8140; }

.point3 {
  background: url(../img/point3.png) no-repeat;
  background-position: center;
  color: #27d6d3;
  background-size: contain; }

@-webkit-keyframes run2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -750px 0; } }

@keyframes run2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -750px 0; } }

.dn {
  display: none !important; }

.SSKL {
  width: 100%;
  height: 100%; }

.ZLSC1 {
  width: 100%;
  height: 100%; }

.KLHX-box {
  width: 100%;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .KLHX-box .KLHX {
    width: 100%;
    height: 100%;
    padding: 0 20px; }

.hm {
  width: 80px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .hm span {
    position: absolute;
    top: 80%;
    left: 18px;
    font-size: 26px;
    color: #68e4ff; }

.man {
  background: url("../img/icon_man.png") no-repeat;
  left: 45%; }

.woman {
  background: url("../img/icon_woman.png") no-repeat;
  left: 56%; }

.line-box {
  padding: 0 20px; }

.line {
  width: 560px;
  height: 3px;
  background-color: #0f648b;
  position: relative; }
  .line .tuodong {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #0696d8;
    position: absolute;
    left: 0;
    top: -2.5px; }

.tab-box2, .tab-box3, .tab-box4, .tab-box5 {
  position: absolute;
  left: 0;
  top: 300px;
  z-index: 11; }
  .tab-box2 .tab-box2-li, .tab-box3 .tab-box2-li, .tab-box4 .tab-box2-li, .tab-box5 .tab-box2-li {
    width: 180px;
    height: 150px;
    position: relative; }
    .tab-box2 .tab-box2-li .li-tab-box, .tab-box3 .tab-box2-li .li-tab-box, .tab-box4 .tab-box2-li .li-tab-box, .tab-box5 .tab-box2-li .li-tab-box {
      position: absolute;
      left: 177px;
      z-index: 10;
      background-color: rgba(10, 33, 75, 0.9);
      border: 1px solid #28eefb;
      width: 600px;
      visibility: hidden; }
      .tab-box2 .tab-box2-li .li-tab-box .emp-box, .tab-box3 .tab-box2-li .li-tab-box .emp-box, .tab-box4 .tab-box2-li .li-tab-box .emp-box, .tab-box5 .tab-box2-li .li-tab-box .emp-box {
        padding: 20px 35px 20px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .tab-box2 .tab-box2-li .li-tab-box .emp-box .touxiang, .tab-box3 .tab-box2-li .li-tab-box .emp-box .touxiang, .tab-box4 .tab-box2-li .li-tab-box .emp-box .touxiang, .tab-box5 .tab-box2-li .li-tab-box .emp-box .touxiang {
          width: 66px;
          height: 66px;
          border-radius: 50%;
          background-color: greenyellow; }
        .tab-box2 .tab-box2-li .li-tab-box .emp-box .emp-data-box, .tab-box3 .tab-box2-li .li-tab-box .emp-box .emp-data-box, .tab-box4 .tab-box2-li .li-tab-box .emp-box .emp-data-box, .tab-box5 .tab-box2-li .li-tab-box .emp-box .emp-data-box {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          padding-left: 24px;
          font-size: 18px;
          color: #d9f1ff; }
        .tab-box2 .tab-box2-li .li-tab-box .emp-box .icon, .tab-box3 .tab-box2-li .li-tab-box .emp-box .icon, .tab-box4 .tab-box2-li .li-tab-box .emp-box .icon, .tab-box5 .tab-box2-li .li-tab-box .emp-box .icon {
          width: 76px;
          height: 46px;
          background: url("../img/mov_icon_tell.png") no-repeat; }

.tab-box2-li, .tab-box2-li1 {
  cursor: pointer; }

.tab-box2-li1 {
  background: url("../img/4icon_left_1_nor.png") no-repeat; }
  .tab-box2-li1 .li-tab-box {
    height: 660px;
    top: -150px; }
    .tab-box2-li1 .li-tab-box .video-play-box {
      width: 597px;
      height: 450px;
      background-color: blue;
      position: relative;
      margin-left: 1px; }
      .tab-box2-li1 .li-tab-box .video-play-box .add-box {
        width: 50px;
        height: 50px;
        background: url("../img/mov_icon_up.png") no-repeat;
        position: absolute;
        top: 0;
        right: 0; }
      .tab-box2-li1 .li-tab-box .video-play-box .full-screen {
        width: 50px;
        height: 50px;
        background: url("../img/mov_all.png") no-repeat;
        position: absolute;
        right: 0;
        bottom: 0; }
    .tab-box2-li1 .li-tab-box .video-play-box2 {
      width: 600px;
      height: 574px;
      position: absolute;
      top: 0;
      left: 100%;
      background-color: #0a214b;
      border: 1px solid #28eefb;
      margin-top: -1px;
      display: none; }
      .tab-box2-li1 .li-tab-box .video-play-box2 .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background: url("../img/mov_icon_close.png") no-repeat; }
      .tab-box2-li1 .li-tab-box .video-play-box2 .box2-main {
        position: relative;
        height: 450px;
        border-bottom: 1px solid #28eefb;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .tab-box2-li1 .li-tab-box .video-play-box2 .box2-main span {
          font-size: 24px;
          color: #0696d8; }

.video-list {
  padding: 10px 0px;
  margin: 0 20px;
  overflow: hidden; }
  .video-list ul {
    position: relative;
    left: 0;
    top: 0;
    width: 1000px; }
    .video-list ul li {
      width: 100px;
      height: 75px;
      position: relative;
      margin-right: 20px;
      background-color: red;
      float: left; }
      .video-list ul li .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #000;
        width: 100%;
        height: 28px; }

.tab-box2-li1.active {
  background: url("../img/4icon_left_1_on.png") no-repeat !important; }

.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px; }
  .header2 div {
    width: 200px;
    text-align: center; }
    .header2 div .title-name {
      font-size: 16px;
      color: #ddf3ff; }
    .header2 div p {
      font-size: 16px;
      color: #ddf3ff; }
    .header2 div label {
      font-size: 34px;
      color: #ddf3ff; }

.tab-box2 .tab-box2-li2 {
  background: url("../img/4icon_left_2_nor.png") no-repeat; }
  .tab-box2 .tab-box2-li2 .li-tab-box {
    height: 750px;
    top: -235px; }
    .tab-box2 .tab-box2-li2 .li-tab-box header {
      width: 100%;
      padding: 30px 100px 0px; }
      .tab-box2 .tab-box2-li2 .li-tab-box header label {
        font-size: 26px;
        color: #ddf3ff;
        margin-right: 20px; }
      .tab-box2 .tab-box2-li2 .li-tab-box header span {
        font-size: 50px;
        color: #68e5ff; }
      .tab-box2 .tab-box2-li2 .li-tab-box header i {
        font-size: 24px;
        color: #68e5ff; }
    .tab-box2 .tab-box2-li2 .li-tab-box .chart-box {
      padding: 0 20px;
      width: 100%;
      height: 250px;
      position: relative; }
      .tab-box2 .tab-box2-li2 .li-tab-box .chart-box .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .tab-box2 .tab-box2-li2 .li-tab-box .chart-box .header label {
          font-size: 18px;
          color: #ddf3ff; }
      .tab-box2 .tab-box2-li2 .li-tab-box .chart-box .SSKL-cld-box {
        width: 130px;
        height: 30px;
        background-color: #12508f;
        position: absolute;
        top: 0;
        right: 44px;
        z-index: 10;
        text-align: left; }
      .tab-box2 .tab-box2-li2 .li-tab-box .chart-box .tab-li2-cld {
        width: 100px;
        height: 100%;
        background-color: #12508f;
        font-size: 16px;
        color: #ddf3ff; }
      .tab-box2 .tab-box2-li2 .li-tab-box .chart-box .arrow {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: url("../img/icon_date_arrows_nor.png") no-repeat;
        background-position: center; }
      .tab-box2 .tab-box2-li2 .li-tab-box .chart-box .arrow.active {
        background: url("../img/icon_date_arrows_on.png") no-repeat;
        background-position: center; }
    .tab-box2 .tab-box2-li2 .li-tab-box .chart-box2 {
      height: 250px;
      padding: 0 20px; }
      .tab-box2 .tab-box2-li2 .li-tab-box .chart-box2 .header label {
        font-size: 18px;
        color: #ddf3ff; }

.tab-box3 .tab-box2-li2 {
  background: url("../img/4icon_left_2_nor.png") no-repeat; }
  .tab-box3 .tab-box2-li2 .header1 {
    width: 100%;
    padding: 30px 100px 25px; }
    .tab-box3 .tab-box2-li2 .header1 label {
      font-size: 26px;
      color: #ddf3ff;
      margin-right: 20px; }
    .tab-box3 .tab-box2-li2 .header1 span {
      font-size: 50px;
      color: #68e5ff; }
      .tab-box3 .tab-box2-li2 .header1 span i {
        font-size: 24px; }
  .tab-box3 .tab-box2-li2 .li-tab-box {
    height: 690px;
    top: -340px; }
    .tab-box3 .tab-box2-li2 .li-tab-box header {
      padding: 20px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .tab-box3 .tab-box2-li2 .li-tab-box header div {
        width: 200px;
        font-size: 16px;
        color: #ddf3ff;
        text-align: center; }
        .tab-box3 .tab-box2-li2 .li-tab-box header div i {
          font-size: 34px; }
    .tab-box3 .tab-box2-li2 .li-tab-box .chart1 {
      width: 100%;
      height: 200px;
      padding: 0 20px; }
    .tab-box3 .tab-box2-li2 .li-tab-box .chart2 {
      width: 100%;
      height: 240px;
      padding: 0 20px; }
    .tab-box3 .tab-box2-li2 .li-tab-box .calendar-box {
      width: 130px;
      height: 30px;
      background-color: #12508f;
      position: absolute;
      top: 0;
      right: 44px;
      z-index: 10;
      text-align: left; }
    .tab-box3 .tab-box2-li2 .li-tab-box .sskl-cld2 {
      width: 100px;
      height: 100%;
      background-color: #12508f;
      font-size: 16px;
      color: #ddf3ff; }
    .tab-box3 .tab-box2-li2 .li-tab-box .arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background: url(../img/icon_date_arrows_nor.png) no-repeat;
      background-position: center; }

.tab4-zlsc {
  width: 100%;
  height: 200px;
  padding: 0 20px; }

.tab4-klqs-box {
  width: 100%;
  height: 240px;
  position: relative; }

.tab4-klqs {
  width: 100%;
  height: 100%;
  padding: 0 20px; }

.tab4-klhx-box {
  width: 100%;
  height: 400px;
  position: relative;
  padding: 0 20px; }

.tab4-klhx {
  width: 100%;
  height: 400px; }

.tab-box4 .tab-box2-li2 {
  background: url("../img/4icon_left_2_nor.png") no-repeat; }
  .tab-box4 .tab-box2-li2 .header1 {
    width: 100%;
    padding: 30px 100px 25px; }
    .tab-box4 .tab-box2-li2 .header1 label {
      font-size: 26px;
      color: #ddf3ff;
      margin-right: 20px; }
    .tab-box4 .tab-box2-li2 .header1 span {
      font-size: 50px;
      color: #68e5ff; }
      .tab-box4 .tab-box2-li2 .header1 span i {
        font-size: 24px; }
  .tab-box4 .tab-box2-li2 .li-tab-box {
    width: 600px;
    height: 950px;
    top: -340px; }
  .tab-box4 .tab-box2-li2 .calendar-box {
    width: 130px;
    height: 30px;
    background-color: #12508f;
    position: absolute;
    top: 5px;
    right: 44px;
    z-index: 10;
    text-align: left; }
    .tab-box4 .tab-box2-li2 .calendar-box .sskl-cld2 {
      width: 100px;
      height: 100%;
      background-color: #12508f;
      font-size: 16px;
      color: #ddf3ff; }
    .tab-box4 .tab-box2-li2 .calendar-box .arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background: url(../img/icon_date_arrows_nor.png) no-repeat;
      background-position: center; }

.tab-box5 .tab-box2-li2 {
  background: url("../img/4icon_left_2_nor.png") no-repeat;
  margin: 50px 0; }
  .tab-box5 .tab-box2-li2 .li-tab-box {
    width: 600px;
    height: 600px;
    top: -200px; }
  .tab-box5 .tab-box2-li2 .chart-box {
    width: 600px;
    height: 250px;
    position: relative;
    padding: 0 20px; }
  .tab-box5 .tab-box2-li2 .tab5-yxsd {
    width: 100%;
    height: 100%; }
  .tab-box5 .tab-box2-li2 .tab5-klqs {
    width: 100%;
    height: 100%; }
  .tab-box5 .tab-box2-li2 .calendar-box {
    width: 130px;
    height: 30px;
    background-color: #12508f;
    position: absolute;
    top: 5px;
    right: 44px;
    z-index: 10;
    text-align: left; }
    .tab-box5 .tab-box2-li2 .calendar-box .sskl-cld2 {
      width: 100px;
      height: 100%;
      background-color: #12508f;
      font-size: 16px;
      color: #ddf3ff; }
    .tab-box5 .tab-box2-li2 .calendar-box .arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background: url(../img/icon_date_arrows_nor.png) no-repeat;
      background-position: center; }

.tab-box2-li2.active {
  background: url("../img/4icon_left_2_on.png") no-repeat !important; }

.tab-box2 .tab-box2-li3 {
  background: url("../img/4icon_left_4_nor.png") no-repeat; }
  .tab-box2 .tab-box2-li3 .KLQS {
    height: 580px;
    width: 100%; }
  .tab-box2 .tab-box2-li3 .LKQS {
    height: 580px;
    width: 100%; }
  .tab-box2 .tab-box2-li3 .tab-li3-cld {
    width: 295px;
    height: 100%;
    position: absolute;
    left: 45px;
    top: 0;
    background-color: #12508f; }
  .tab-box2 .tab-box2-li3 .arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url(../img/icon_date_arrows_nor.png) no-repeat;
    background-position: center; }
  .tab-box2 .tab-box2-li3 .cld-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 40px;
    background: url("../img/icon_date.png") no-repeat; }
  .tab-box2 .tab-box2-li3 .li-tab-box {
    height: 580px;
    width: 600px;
    top: -300px; }
    .tab-box2 .tab-box2-li3 .li-tab-box .calendar-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .tab-box2 .tab-box2-li3 .li-tab-box .calendar {
      width: 380px;
      height: 40px;
      background-color: #12508f;
      position: relative; }
    .tab-box2 .tab-box2-li3 .li-tab-box .chart-box {
      height: 250px;
      padding: 0 20px; }

.tab-box2-li3.active {
  background: url("../img/4icon_left_4_on.png") no-repeat !important; }

.tab-box3 .tab-box2-li3 {
  background: url("../img/4icon_left_4_nor.png") no-repeat; }
  .tab-box3 .tab-box2-li3 .tab-li3-cld {
    width: 295px;
    height: 100%;
    position: absolute;
    left: 45px;
    top: 0;
    background-color: #12508f; }
  .tab-box3 .tab-box2-li3 .arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url(../img/icon_date_arrows_nor.png) no-repeat;
    background-position: center; }
  .tab-box3 .tab-box2-li3 .cld-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 40px;
    background: url("../img/icon_date.png") no-repeat; }
  .tab-box3 .tab-box2-li3 .li-tab-box {
    height: 398px;
    width: 600px;
    top: -118px; }
    .tab-box3 .tab-box2-li3 .li-tab-box .calendar-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .tab-box3 .tab-box2-li3 .li-tab-box .calendar {
      width: 380px;
      height: 40px;
      background-color: #12508f;
      position: relative; }
  .tab-box3 .tab-box2-li3 .chart1 {
    width: 100%;
    height: 250px;
    padding: 0 20px; }
  .tab-box3 .tab-box2-li3 .chart2 {
    width: 100%;
    height: 250px;
    padding: 0 20px; }

.tab-box4 .tab-box2-li3 {
  background: url("../img/4icon_left_4_nor.png") no-repeat; }
  .tab-box4 .tab-box2-li3 .tab4-big-cld {
    width: 295px;
    height: 100%;
    position: absolute;
    left: 45px;
    top: 0;
    background-color: #12508f; }
  .tab-box4 .tab-box2-li3 .arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url(../img/icon_date_arrows_nor.png) no-repeat;
    background-position: center; }
  .tab-box4 .tab-box2-li3 .cld-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 40px;
    background: url("../img/icon_date.png") no-repeat; }
  .tab-box4 .tab-box2-li3 .li-tab-box {
    height: 580px;
    width: 600px;
    top: -300px; }
    .tab-box4 .tab-box2-li3 .li-tab-box .calendar-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .tab-box4 .tab-box2-li3 .li-tab-box .calendar {
      width: 380px;
      height: 40px;
      background-color: #12508f;
      position: relative; }
  .tab-box4 .tab-box2-li3 .chart-box {
    height: 250px;
    padding: 0 20px; }

.tab-box5 .tab-box2-li3 {
  background: url("../img/4icon_left_4_nor.png") no-repeat; }
  .tab-box5 .tab-box2-li3 .tab5-big-cld {
    width: 295px;
    height: 100%;
    position: absolute;
    left: 45px;
    top: 0;
    background-color: #12508f; }
  .tab-box5 .tab-box2-li3 .arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url(../img/icon_date_arrows_nor.png) no-repeat;
    background-position: center; }
  .tab-box5 .tab-box2-li3 .cld-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 40px;
    background: url("../img/icon_date.png") no-repeat; }
  .tab-box5 .tab-box2-li3 .li-tab-box {
    height: 850px;
    width: 600px;
    top: -500px; }
    .tab-box5 .tab-box2-li3 .li-tab-box .calendar-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .tab-box5 .tab-box2-li3 .li-tab-box .calendar {
      width: 380px;
      height: 40px;
      background-color: #12508f;
      position: relative; }
  .tab-box5 .tab-box2-li3 .chart-box {
    height: 250px;
    padding: 0 20px; }

.ZLSC {
  width: 100%;
  height: 100%; }

.laiyuan {
  width: 298px;
  height: 250px; }

.quxiang {
  width: 298px;
  height: 250px; }

.scroll-box {
  height: 790px;
  width: 100%;
  overflow-y: auto; }

.scroll-box::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px; }

.scroll-box::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #2a659d; }

.scroll-box::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0); }

.guishufenxi {
  width: 100%;
  height: 250px;
  padding: 0 20px; }

.tab-box4 .tab-box2-li4 {
  background: url("../img/4icon_left_3_nor.png") no-repeat; }
  .tab-box4 .tab-box2-li4 .li-tab-box {
    height: 650px;
    top: -220px; }
  .tab-box4 .tab-box2-li4 header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px; }
    .tab-box4 .tab-box2-li4 header div {
      width: 200px;
      text-align: center; }
      .tab-box4 .tab-box2-li4 header div .title-name {
        font-size: 16px;
        color: #ddf3ff; }
      .tab-box4 .tab-box2-li4 header div p {
        font-size: 16px;
        color: #ddf3ff; }
      .tab-box4 .tab-box2-li4 header div label {
        font-size: 34px;
        color: #ddf3ff; }
  .tab-box4 .tab-box2-li4 .tab4-zlsc {
    width: 100%;
    height: 250px; }
  .tab-box4 .tab-box2-li4 .tab4-zlsc2 {
    width: 100%;
    height: 250px;
    padding: 0 20px; }
  .tab-box4 .tab-box2-li4 .calendar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .tab-box4 .tab-box2-li4 .calendar .arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background: url(../img/icon_date_arrows_nor.png) no-repeat;
      background-position: center; }
    .tab-box4 .tab-box2-li4 .calendar .cld-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 40px;
      background: url("../img/icon_date.png") no-repeat; }
    .tab-box4 .tab-box2-li4 .calendar .m-cld {
      width: 195px;
      height: 40px;
      background-color: #114d8a;
      position: absolute;
      right: 30px;
      top: 0;
      font-size: 16px;
      color: #ddf3ff;
      text-align: center; }

.tab-box2 .tab-box2-li4 {
  background: url("../img/4icon_left_3_nor.png") no-repeat; }
  .tab-box2 .tab-box2-li4 .li-tab-box {
    height: 870px;
    top: -450px; }
    .tab-box2 .tab-box2-li4 .li-tab-box .calendar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 20px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
    .tab-box2 .tab-box2-li4 .li-tab-box .arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background: url(../img/icon_date_arrows_nor.png) no-repeat;
      background-position: center; }
    .tab-box2 .tab-box2-li4 .li-tab-box .cld-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 40px;
      background: url("../img/icon_date.png") no-repeat; }
    .tab-box2 .tab-box2-li4 .li-tab-box .tab-li4-cld {
      width: 195px;
      height: 40px;
      background-color: #114d8a;
      position: absolute;
      right: 30px;
      top: 0;
      font-size: 16px;
      color: #ddf3ff;
      text-align: center; }
    .tab-box2 .tab-box2-li4 .li-tab-box header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .tab-box2 .tab-box2-li4 .li-tab-box header div {
        width: 200px;
        text-align: center; }
        .tab-box2 .tab-box2-li4 .li-tab-box header div .title-name {
          font-size: 16px;
          color: #ddf3ff; }
        .tab-box2 .tab-box2-li4 .li-tab-box header div p {
          font-size: 16px;
          color: #ddf3ff; }
        .tab-box2 .tab-box2-li4 .li-tab-box header div label {
          font-size: 34px;
          color: #ddf3ff; }
    .tab-box2 .tab-box2-li4 .li-tab-box .chart-box1 {
      width: 600px;
      height: 160px;
      margin-top: 30px;
      padding: 0 29px 0 20px; }
    .tab-box2 .tab-box2-li4 .li-tab-box .chart-box2 {
      width: 596px;
      padding: 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .tab-box2 .tab-box2-li4 .li-tab-box .chart-box2 .chart1, .tab-box2 .tab-box2-li4 .li-tab-box .chart-box2 .chart2 {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }

.data-box {
  padding: 20px; }
  .data-box .header {
    width: 100%; }
    .data-box .header .container {
      background-color: #0d3162;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .data-box .header .container div {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        height: 35px;
        border: 1px solid #3b6794;
        font-size: 20px;
        color: #b5e2fe;
        text-align: center;
        line-height: 35px; }
      .data-box .header .container .active {
        border-color: #05cffa;
        color: #ddf3ff; }
  .data-box .container2-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px; }
    .data-box .container2-1 .from-chart, .data-box .container2-1 .to-chart {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 18px;
      color: #ddf3ff; }
      .data-box .container2-1 .from-chart .header, .data-box .container2-1 .to-chart .header {
        font-size: 18px;
        color: #ddf3ff; }
      .data-box .container2-1 .from-chart .body, .data-box .container2-1 .to-chart .body {
        padding-right: 10px; }
        .data-box .container2-1 .from-chart .body li, .data-box .container2-1 .to-chart .body li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .data-box .container2-1 .from-chart .body .index, .data-box .container2-1 .to-chart .body .index {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #26e5e1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 12px;
          color: #ffffff;
          margin-right: 10px;
          margin-left: 20px; }
        .data-box .container2-1 .from-chart .body label, .data-box .container2-1 .to-chart .body label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .data-box .container2-1 .from-chart .body .line, .data-box .container2-1 .to-chart .body .line {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 50px;
          height: 2px;
          margin-right: 15px;
          background-color: #b5e2fe; }
        .data-box .container2-1 .from-chart .body .line2, .data-box .container2-1 .to-chart .body .line2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 380px;
          height: 2px;
          margin-right: 15px;
          background-color: #b5e2fe; }

.tab-box2-li4.active {
  background: url("../img/4icon_left_3_on.png") no-repeat !important; }

.tab-box3 .tab-box2-li4 {
  background: url("../img/4icon_left_3_nor.png") no-repeat; }
  .tab-box3 .tab-box2-li4 header {
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .tab-box3 .tab-box2-li4 header div {
      width: 200px;
      font-size: 16px;
      color: #ddf3ff;
      text-align: center; }
      .tab-box3 .tab-box2-li4 header div i {
        font-size: 34px; }
  .tab-box3 .tab-box2-li4 .li-tab-box {
    height: 870px;
    top: -450px; }
    .tab-box3 .tab-box2-li4 .li-tab-box .calendar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 20px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
    .tab-box3 .tab-box2-li4 .li-tab-box .arrow {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background: url(../img/icon_date_arrows_nor.png) no-repeat;
      background-position: center; }
    .tab-box3 .tab-box2-li4 .li-tab-box .cld-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      height: 40px;
      background: url("../img/icon_date.png") no-repeat; }
    .tab-box3 .tab-box2-li4 .li-tab-box .tab-li4-cld {
      width: 195px;
      height: 40px;
      background-color: #114d8a;
      position: absolute;
      right: 30px;
      top: 0;
      font-size: 16px;
      color: #ddf3ff;
      text-align: center; }
    .tab-box3 .tab-box2-li4 .li-tab-box .chart1 {
      height: 220px;
      width: 100%;
      padding: 0 20px; }
    .tab-box3 .tab-box2-li4 .li-tab-box .chart2 {
      height: 260px;
      width: 100%; }

.cur-pos-data-box {
  position: absolute;
  top: 86px;
  left: -130px;
  z-index: 10;
  width: 820px;
  height: 540px;
  background-color: rgba(9, 32, 74, 0.9);
  border: 2px solid #28eefb;
  cursor: default;
  padding: 24px;
  display: none; }
  .cur-pos-data-box .key-pos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px; }
    .cur-pos-data-box .key-pos .name {
      color: #ddf3ff; }
    .cur-pos-data-box .key-pos ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .cur-pos-data-box .key-pos ul li {
        margin-left: 24px;
        color: #68e4ff; }
  .cur-pos-data-box .search {
    width: 498px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #05caf4;
    margin-top: 16px; }
    .cur-pos-data-box .search input {
      width: 470px;
      height: 28px;
      background-color: #061e44;
      padding: 0 5px;
      font-size: 16px;
      color: #325b91; }
    .cur-pos-data-box .search .icon {
      width: 30px;
      height: 30px;
      background: url("../img/icon_search.png") no-repeat;
      cursor: pointer; }
  .cur-pos-data-box .station-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .cur-pos-data-box .station-box .station-box-1 {
      width: 110px;
      margin-right: 48px; }
    .cur-pos-data-box .station-box .station-box-2 {
      width: 340px;
      margin-right: 48px; }
      .cur-pos-data-box .station-box .station-box-2 ul li {
        width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left; }
    .cur-pos-data-box .station-box .station-box-3 {
      width: 210px; }
    .cur-pos-data-box .station-box header {
      font-size: 20px;
      color: #ddf3ff;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 60px;
      border-bottom: 1px solid #325b91; }
    .cur-pos-data-box .station-box ul {
      margin-top: 16px;
      padding-bottom: 15px; }
      .cur-pos-data-box .station-box ul li {
        font-size: 18px;
        color: #b5e2fe;
        cursor: pointer; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #325b91; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #325b91; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #325b91; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #325b91; }

input:focus {
  outline: none; }

#DivButton {
  position: absolute !important;
  top: 360px !important;
  right: 30px !important;
  z-index: 10 !important;
  cursor: pointer; }
  #DivButton div {
    width: 100px;
    height: 60px;
    font-size: 36px;
    color: #b5e2fe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #DivButton div.active {
    background: url("../img/layer_choose.png") no-repeat; }

/*# sourceMappingURL=homepage.css.map */
