@charset "UTF-8";
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }
  body:hover, div:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@-webkit-keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.animation_opactiy {
  -webkit-animation: backOpacity 2s ease-in-out infinite;
          animation: backOpacity 2s ease-in-out infinite; }

header {
  margin-top: 1.25373rem;
  font-size: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.02985rem; }
  header section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .header-line1 {
    margin-bottom: 0.53731rem; }
  header .header-line2 {
    font-size: 22px;
    margin-bottom: 0.9403rem; }
  header .header-line2:nth-child(2) {
    height: 0.65664rem; }

.cl-box {
  padding: 0 0.58209rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .cl-box section {
    width: 92px;
    height: 84px;
    background-color: #000000; }

.btm-box {
  width: 670px;
  height: 900px;
  background: url("../img/txt_bg.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.btm-box-header {
  width: 100%;
  margin-bottom: 0.62687rem;
  padding: 0 1.25373rem;
  font-size: 0.67164rem;
  color: #147fba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .btm-box-header section {
    padding: 0.58209rem 0.31343rem 0.35821rem;
    border-bottom: 4px solid transparent; }
  .btm-box-header section.active {
    color: #FFFFFF;
    border-bottom: 4px solid #FFFFFF; }

.btm-box-body {
  padding: 0 0.44776rem;
  color: #FFFFFF;
  font-size: 0.40298rem;
  display: none; }
  .btm-box-body .body-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .btm-box-body .body-header section {
      height: 0.98507rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .btm-box-body .body-header section:nth-child(1) {
      width: 2.46268rem;
      background-color: #3c3584; }
    .btm-box-body .body-header section:nth-child(2) {
      width: 6.26865rem;
      background-color: #0c3d8f; }
    .btm-box-body .body-header section:nth-child(3) {
      width: 2.64179rem;
      background-color: #113673; }
    .btm-box-body .body-header section:nth-child(4) {
      width: 2.64179rem;
      background-color: #0b4579; }
  .btm-box-body .body-header-font {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.67164rem 0 0.58209rem 0;
    border-bottom: 2px solid #0f4b92; }
    .btm-box-body .body-header-font section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .btm-box-body .body-header-font section:nth-child(1) {
      width: 2.46268rem; }
    .btm-box-body .body-header-font section:nth-child(2) {
      width: 6.26865rem; }
    .btm-box-body .body-header-font section:nth-child(3) {
      width: 2.64179rem; }
    .btm-box-body .body-header-font section:nth-child(4) {
      width: 2.64179rem; }
  .btm-box-body .body-main {
    height: 14.32835rem;
    overflow-y: auto; }
    .btm-box-body .body-main li {
      margin-top: 0.67164rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .btm-box-body .body-main li:nth-last-child(1) {
        margin-bottom: 0.67164rem; }
      .btm-box-body .body-main li section:nth-child(1) {
        width: 2.46268rem;
        text-align: center; }
      .btm-box-body .body-main li section:nth-child(2) {
        width: 6.26865rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .btm-box-body .body-main li section:nth-child(3) {
        width: 2.64179rem;
        text-align: center; }
      .btm-box-body .body-main li section:nth-child(4) {
        width: 2.64179rem;
        text-align: center; }
    .btm-box-body .body-main .pillar {
      height: 0.40298rem;
      width: 4.02985rem;
      background-color: #2ba9f1; }
    .btm-box-body .body-main .pillar-num {
      margin-left: 0.22388rem; }

.btm-box-body2 {
  padding: 0 0.44776rem;
  color: #FFFFFF;
  font-size: 0.40298rem; }
  .btm-box-body2 .tab-ul {
    font-size: 0.49254rem;
    color: #3e75a0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .btm-box-body2 .tab-ul li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      background-color: #0d3162;
      border: 1px solid #3e75a0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .btm-box-body2 .tab-ul li.active {
      color: #FFFFFF;
      border: 2px solid #05cffa; }
  .btm-box-body2 .tab-name {
    font-size: 0.49254rem;
    margin-top: 1.1194rem; }

/*# sourceMappingURL=h5_country.css.map */
