
* {
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

html body {
    margin: 0px;
    padding: 0px;
    width: 1920px;
    height: 1080px;
    /*background-image: url("img/bg.png");*/
}

.mapbase {
    width: 1280px;
    height: 1040px;
    margin-top: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.topbutton {
    margin-top: 30px;
    margin-right: 0px;
    margin-left: -10px;
    width: 216px;
    height: 90px;
    position: relative;
}

.topbutton.test {

    background-image: url("img/非聚焦/btn_nor_Testing.png");
}

.topbutton.test.active, .topbutton.test.active:hover {
    background-image: url("img/聚焦/btn_pre_Testing.png");
    z-index: 100;
    margin-top: 28px !important;
    top: -5px;
}

.topbutton.test:hover {
    background-image: url("img/移入/btn_bright_Testing.png");
    z-index: 1;
}

.topbutton.bridge {

    background-image: url("img/非聚焦/btn_nor_Bridge.png");
}

.topbutton.bridge.active, .topbutton.bridge.active:hover {
    background-image: url("img/聚焦/btn_pre_Bridge.png");
    z-index: 100;
    margin-top: 28px !important;
    top: -5px;
}

.topbutton.bridge:hover {
    background-image: url("img/移入/btn_brigh_Bridge.png");
    z-index: 1;
}

.topbutton.insight {

    background-image: url("img/非聚焦/btn_nor_Insight.png");
}

.topbutton.insight.active, .topbutton.insight.active :hover {
    background-image: url("img/聚焦/btn_pre_Insight.png");
    margin-top: 28px !important;
    top: -5px;
    z-index: 100;
}

.topbutton.insight:hover {
    background-image: url("img/移入/btn_brigh_Insight.png");
    z-index: 1;
}

.topbutton.strait {

    background-image: url("img/非聚焦/btn_nor_strait.png");
}

.topbutton.strait.active {
    background-image: url("img/聚焦/btn_pre_strait.png");
    background-size: 100% 100%;
    z-index: 100;
}

.topbutton.strait:hover {
    background-image: url("img/移入/btn_brigh_strait.png");
    z-index: 1;
}

.fixdiv {
    position: absolute;
    pointer-events: none;
    width: 1920px;
    height: 1080px;
}

.fixdiv > div {
    pointer-events: painted;
    position: absolute;
    background-repeat: no-repeat;
}

.toppart {
    width: 1920px;
    line-height: 82px;
}

.toppart .rightpart div {
    display: inline-block;
}

.toppart .rightpart {
    position: absolute;
    width: 1236px;
    left: 664px;
    top: 0px;
    border-bottom-color: #356ddc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 108px;
    line-height: 108px;
    right: 20px;
    /*width: 1920px;*/
}

.toppart .rightpart .title {
    width: 194px;
    line-height: 82px;
    margin-top: 30px;
    height: 82px;
    color: #bccbff;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
    margin-left: -10px;
}

.toppart .lefttitle {
    width: 664px;
    height: 160px;
    left: 0px;
    top: 0px;
    background-image: url("img/tittle.png");
}

.righttop {
    top: 140px;
    right: 50px;
    width: 640px;
    height: 592px;

    /*background-image: url("img/bg_s.png");*/

}

.righttop .title {
    font-size: 20px;
    color: #ddf3ff;
    margin-bottom: 5px;
    /*margin-top: 22px;*/
    margin-left: 40px;
}

.righttop .chart:first-child {
    margin-top: 64px;
}

.righttop .chart {
    /*height: 176px;*/
}

.rightbottom {
    bottom: 24px;
    right: 50px;
    height: 321px;
    width: 1256px;
    /*background-image: url("img/bg_c.png");*/
}

.rightbottom .chart {
    /*margin-top: 54px;
    margin-left: 24px;
    height: 267px;

    width: 1208px;*/
    /*width: 100%;*/
    height: 266px;
    padding-top: 16px;
   /* margin-top: 35px;*/
    /*height: 100%;*/
}

.numpart {
    left: 50px;
    top: 160px;
    pointer-events: none !important;
}

.numpart * {
    pointer-events: none !important;
}

.numpart .title {
    font-size: 20px;
    color: #b5e2fe;
}

.numpart .content1 {
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    margin-top: 10px;
    color: #13ffff;

}

.numpart .content1 .last {
    font-size: 32px;
}

.numpart .content1 div {
    display: inline-block;
}

.numpart .content1 div > div {
    background-image: url('img/bg_number.png');
    display: inline-block;
    width: 52px;
    margin-right: 4px;
    margin-left: 4px;
    height: 69px;
    line-height: 69px;
    background: #1573e0;
}

.numpart .content2 {
    font-size: 40px;
/ / margin-top: 12 px;
    color: #b5e2fe;
}

.numpart .content2 .last {
    font-size: 24px;
}

.numpart .text2 {
    font-size: 20px;
    color: #b5e2fe;
}

.datediv {
    position: absolute;
    width: 235px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    left: 379px;
    border: #3296b9 solid 1px;
}

#date-input {
    /*position: absolute; */
    float: right;
    background: transparent;
    color: white;
    width: 150px;
    /* border: none; */
    border-width: 0px;
    font-size: 18px;
    color: #ddf3ff;
    height: 32px;
    padding-left: -42px;
    line-height: 32px;
    /* padding-right: 32px; */
    right: 0px;
    /* text-align: center; */
    vertical-align: middle;
    outline: none;
    /* margin-left: 29px; */

}

#date-icon {
    float: right;
    cursor: pointer;
    /* position: absolute; */
    background-image: url(img/icon1.png);
    width: 24px;
    height: 24px;
    margin-right: 23px;
    margin-top: 5px;
}

#date-action {
    float: right;
    cursor: pointer;
    background-position: right;
    /* position: absolute; */
    background-image: url(img/icon3.png);
    width: 34px;
    height: 33px;
    right: 0px;
    /* background: red; */
}

#date-input:focus {
    border-width: 0px;
}

/*#chart1, #chart2, #chart3 {
    width: 560px;
    height: 150px !important;
    margin-left: 20px;
    margin-right: 20px;
}*/
#chart1,#chart5{
    width: 560px;
    height: 225px !important;
    margin-left: 20px;
    margin-right: 20px;
}
#chart4 {
    /*width: 1194px;*/
    height: 246px;
}
.btn-contain {
    width: 300px;
    height: 30px;
    line-height: 30px;
    color: #ddf3ff;
    font-size: 18px;
    text-align: center;
    /* float: right;
    margin-right: 10px;
    margin-top: 22px;*/
    z-index: 10;
    right: 44px;
    top:25px;
    position: absolute;

}

.btn {
    cursor: pointer;
    width: 115px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-top: 22px;
    z-index: 10;
    right: 44px;
    /*top:56px;*/
}

.btn.active {
    background: url("img/btn_01.png");
}

.red{
    color: red;
}
.green{
    color: yellow;
}

.data-bg{
    width: 275px;
    height: 30px;
    background: url(img/date-bg.png);
}
.chart-title1{
    background: url("img/icon1-title.png");
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 24px;
    padding-left: 20px;
    width: 100%;
    color: white;
    float: left;
}

.chart-title2{
    background: url("img/icon2-title.png");
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 20px;
    padding-left: 20px;
}
.chart-small{
    width: 230px;
    height: 282px;
    /*padding-top:29px;*/
    /*display: inline-block;*/
    background: url("img/chart-small.png");
    background-repeat: no-repeat;
    float: left;

}
.chart-small:hover{
    background: url("img/chart-small-hover.png");
    background-repeat: no-repeat;

}
.chart-big,.chart-big:hover{
    background:transparent;
    width: 1002px!important;
    margin-top: 0px!important;
}
.chart-title {
    background: url(img/icon2-title.png);
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 12px;
    padding-left: 7px;
    position: absolute;
    margin-left: 93px;
    margin-top: 19px;
    font-size: 16px;
}

.chart-big .chart-title {
    /*background: transparent;*/
    margin-left: 829px !important;
    margin-top: 31px;
}

.sr-ul {
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sr-num {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.sr-li {
    width: 52px;
    height: 69px;
}