
* {
    font-family: "微软雅黑", "Microsoft YaHei", Tahoma, Verdana;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background-image: url("img/bg.png");
}

.part1 {
    width: 1850px;
    height: 290px;
    margin-top: 144px;
    margin-left: 35px;
    background-image: url("img/bg_01.png");
}

.part2 {
    width: 1850px;
    height: 290px;
    /*margin-left: 35px;*/
    margin-top: 20px;
    /*background-image: url("img/bg_02.png");*/
}

.part2.active {
    /*background-image: url("img/bg_03.png");*/
}

.part3 {
    width: 1850px;
    height: 280px;
    /*margin-left: 35px;*/
    margin-top: 30px;
    /*background-image: url("img/bg_04.png");*/
}

.title {
    margin-left: 40px;
    color: white;
    font-size: 24px;
    line-height: 33px;
    display: inline-block;
}

.date {
    line-height: 30px;
    /* padding-right: 2px; */
    display: inline-block;
    background: transparent;
    color: white;
    width: 154px;
    /* border: none; */
    border-width: 0px;
    font-size: 18px;
    /*color: #ddf3ff;*/
    height: 30px;
    line-height: 33px;
    /* padding-right: 32px; */
    right: 0px;
    text-align: left;
    vertical-align: middle;
    outline: none;
    margin-left: 141px;
    margin-right: 14px;
    background: url(img/icon_down.png) no-repeat transparent;
    background-position-x: 148px;
    background-position-y: 12px;
    background-size: 14px 8px;
    margin-bottom: 3px;
    position: absolute;
    right: 0px;
    margin-right: 43px;
    margin-top: -23px;
    /* background: #0e6694; */
    border-radius: 5px;
    border: #3296b9 solid 1px;
    padding-left: 5px;
    padding-right: 10px;
}

.date.readonly {
    background: transparent !important;
}

.part1 .date, .part2 .date {
    margin-left: 218px !important;
}

#date3 {
    margin-left: 110px !important;
}

.date-text {
    line-height: 30px;
    color: #ddf3ff;
    display: inline-block;
}

.part1 .content {
    width: 1850px;
    height: 239px;
    /*background: red*/
}

.allinfo {
    float: left;
    width: 1271px;
    height: 100%;
}

/*.airinfo {
    float: left;
    width: 248px;
    border-left: solid #1a75ac 1px;
    height: 100%;
}*/
.airinfo{
    float: left;
    width: 248px;
    height: 240px;
    border-right: solid #1a75ac 1px;
    /* height: 100%; */
}
/*.traininfo {
    float: left;
    width: 328px;
    border-left: solid #1a75ac 1px;
    height: 100%;
}*/
.traininfo {
    float: left;
    width: 328px;
    height: 240px;
    border-right: solid #1a75ac 1px;

}

.select {
    font-size: 24px;
    padding-right: 15px;
    width: 237px;
    color: #d9f1ff;
    text-align: center;
    float: right;
    display: inline-block;
    margin-right: 20px;
    border: 0px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-left: 24px;
    background: transparent;
    background: url(img/icon_down.png) no-repeat transparent;
    background-position-x: 218px;
    background-position-y: 13px;
    background-size: 14px 8px;
    font-size: 24px;
    /* background: #0e6694; */
    border-radius: 5px;
    border: #3296b9 solid 1px;
    z-index: 1000;
    position: absolute;
    right: 23px;
}

.right-title1 {
    font-size: 24px;
    /* padding-right: 15px; */
    /* margin-left: 680px; */
    width: 237px;
    padding-left: 2px;
    color: #d9f1ff;
    display: inline-block;
    cursor: pointer;
    float: right;
    text-align: center;
    /*position: absolute;
    left: 1334px;*/
}

.right-title2 {
    font-size: 24px;
    /* padding-right: 15px; */
    /* margin-left: 20px; */
    width: 237px;
    color: #3bffff;
    display: inline-block;
    cursor: pointer;
    float: right;
    text-align: center;
    /*position: absolute;
    left: 1628px;*/
    margin-right: 39px;
}

.part2.active .right-title1 {
    color: #3bffff;

}

.right-title1.active, .right-title2.active {
    /*background: url("img/btn_01.png");
    background-repeat: no-repeat;*/
    background: #1495d8 ;
    border-radius: 5px;
    font-weight:bolder ;
    color: white;
    border: white solid 1px;
}

.part2.active .right-title2 {
    color: #d9f1ff;
    font-weight:bolder ;
    color: white;
    /*background: url("img/btn_01.png");
    background-repeat: no-repeat;*/
    background: #12c2ff;
    border-radius: 5px;
    border: white solid 1px;
    margin-right: 39px;
}

/*.btn-contain {
    width: 300px;
    height: 30px;
    line-height: 30px;
    color: #ddf3ff;
    font-size: 18px;
    text-align: center;
    // float: right;
    //margin-right: 10px;
    //margin-top: 22px;
    z-index: 10;
    right: 44px;
    //top:56px;
    position: absolute;

}*/
.btn-contain {
    width: 300px;
    /* height: 30px; */
    line-height: 30px;
    color: #ddf3ff;
    font-size: 18px;
    text-align: center;
    z-index: 10;
    right: 0px;
    left: 453px;
    position: relative;
}

.btn {
    cursor: pointer;
    /* width: 83px; */
    line-height: 16px;
    text-align: center;
    display: inline-block;
    /* margin-right: 10px; */
    /* margin-top: 22px; */
    z-index: 10;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* right: 44px; */
    font-size: 12px;
    /* top: 56px; */
}

.btn.active {
    /*background: url("img/btn_01.png");*/
    background: #1495d8;
    border-radius: 5px;
    border: white solid 1px;
}

.btn2 {
    width: 30px;
    background-repeat: no-repeat;
}

.btn2.active {
    background: url("img/btn_samll.png");
}

table {
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
}

table > td {
    text-align: center;
}

.table-icon-bg {
    font-size: 18px;
    color: #ffffff;

    background-position: top center;
    padding-top: 66px;
    background-repeat: no-repeat;
}

.table-icon-bg1 {
    background-image: url(img/icon_01.png);
}

.table-icon-bg2 {
    background-image: url(img/icon_02.png);
}

.table-icon-bg3 {
    background-image: url(img/icon_03.png);
}

.table-icon-bg4 {
    background-image: url(img/icon_04.png);
}

.table-icon-bg5 {
    background-image: url(img/icon_05.png);
}

.table-icon-small {
    font-size: 20px;
    color: #ffffff;
    background-position: left center;
    padding-left: 64px;
    background-repeat: no-repeat;
    display: inline-block;
}

.table-icon-small1 {
    background-image: url(img/icon_06.png);
}

.table-icon-small2 {
    background-image: url(img/icon_07.png);
}

.airinfo .num {
    font-size: 10px;
    color: #80ddfe;
    width: 118px;
    font-size: 18px;
    display: inline-block;
}

.traininfo .num {
    font-size: 10px;
    color: #80ddfe;
    width: 180px;
    font-size: 18px;
    display: inline-block;
}

.traininfo .smallnum {
    font-size: 14px;
    margin-right: 6px;
}

.smallnum1 {
    margin-left: 22px;
}

.red {
    color:#2aee2a ;
    margin-left: 6px;
}

.green {
    color: #ff1b1b;
    margin-left: 6px;
}

.row-title {
    font-size: 20px;
    font-weight: bold;
}

#chart1, #chart2, #chart3 {
    width: 1850px;
    height: 250px;
}

select option {
    /*font-size: 12px;*/
    background: #0f265c;
}

.date-part {
    display: inline-block;
    margin-left: 90px;
}

.part1-content > div {
    width: 350px;
    height: 255px;
    float: left;
}

.part1-content .content {
    margin-top: 30px;
}

.part1-content .content > div {
    float: left;
    width: 50%;
    height: 89px;
    text-align: center;
}

.part1-content .small-title {
    /*padding-left: 34px;*/
    font-size: 16px;
    color:white;/* rgba(221, 243, 255, 0.6);*/
}

.part1-content .field {
    font-size: 26px;
    line-height: 26px;
    color: white;
    padding-top: 10px;
    /*padding-left: 34px;*/
}

.part1-content .title {
    margin-top: 10px;
    padding-left: 43px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 22px !important;
}

.part1-content .total {
    background-image: url("img/pbg_1.png");
}

.total .title {
    background-image: url("img/picon_1.png");
}

.part1-content .gonglu {
    background-image: url("img/pbg_2.png");
}

.gonglu .title {
    background-image: url("img/picon_2.png");
}

.part1-content .tielu {
    background-image: url("img/pbg_3.png");
}

.tielu .title {
    background-image: url("img/picon_3.png");
}

.part1-content .shuilu {
    background-image: url("img/pbg_4.png");
}

.shuilu .title {
    background-image: url("img/picon_4.png");
}

.part1-content .minhang {
    background-image: url("img/pbg_5.png");
}

.minhang .title {
    background-image: url("img/picon_5.png");
}

.title1-new {
    background: url("img/title-icon.png");
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 48px;
    padding-left: 26px;
    color: white;
    width: 100%;
    /*width:200px;*/
    font-size: 26px;
    display: inline-block;
}

.part1-new {
    padding-top: 144px;
    color: white;
}

.part1-new .part1-content {
    margin-top: 15px;
    margin-left: 48px;
}

.part1-content > div {
    margin-right: 22px;
}

.part21 {
    float: left;
    margin-top: 10px;
    height: 282px !important;
    width: 967px !important;
}

.chart-small {
    width: 270px;
    height: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
    background: url(img/chart-small.png);
}
.chart-small:hover{
    background: url(img/chart-small-hover.png);
}
.chart-big {
    height: 240px !important;
    width: 752px !important;
    background: transparent !important;
    background-repeat: no-repeat;
}

.chart-big .btn-contain {
    display: block !important;

}

.chart-small .chart {
    /*background: red;*/
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 3px;
}

.chart-big .chart {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: -27px !important;
}

.chart-title {
    background: url(img/icon_6.png);
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 12px;
    padding-left: 7px;
    position: absolute;
    margin-left: 109px;
    margin-top: 10px;
}

.chart-big .chart-title {
    /*background: transparent;*/
    margin-left: 682px !important;
}

.part3 .title1-new {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    width: 300px;
}

.part22-btn {
    position: relative;
    width: 300px;
    height: 51px;
    top: -216px;
    left: 1589px;
    line-height: 30px;
    color: #ddf3ff;
    font-size: 18px;
    text-align: center;
    z-index: 10;

}
.chart-group2 .chart-big{
    width: 719px !important;

}
.chart-group2 .chart-big .chart{
    top:28px;
}
.chart-group2 .chart-big .chart-title{
    margin-left: 650px !important;
}
.field>*{
    display: inline-block;
    height: 26px;
    overflow: hidden;
}